@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

/* Base
 * --------------------------------------- */
body{
	font-family: "Mplus 1p";
	font-weight: bold;
	color: #373737;
}
h1 {
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 50px;
}
p {	
	font-size: 5em;
	line-height: 1.5em;
	text-align: center;
}
ul li {
	font-size: 3.5em;
	line-height: 1.5em;
}
.bg-pre ul {
	height: 490px;
}
.bg-pre ul li {
	line-height: 1.8em;
}
.bg-explain p {
	height: 490px;
}

/* Slide
 * --------------------------------------- */

.bg-basic {
	background: url("../img/intro/bg-basic.png") no-repeat;
	background-size: cover;
}
.bg-explain {
	background: url("../img/intro/bg-explain.png") no-repeat;
	background-size: cover;
}
.bg-opening {
	background: url("../img/intro/bg-opening.png") no-repeat;
	background-size: cover;
}
.bg-pre {
	background: url("../img/intro/bg-pre.png") no-repeat;
	background-size: cover;
}
.bg-first-prize {
	background: url("../img/intro/bg-first-prize.png") no-repeat;
	background-size: cover;
}
.bg-prize {
	background: url("../img/intro/bg-prize.png") no-repeat;
	background-size: cover;
}
.bg-rule {
	background: url("../img/intro/bg-rule.png") no-repeat;
	background-size: cover;
}
.content {
	visibility: hidden;
	width: 85%;
	margin: 0 auto;
}
.icon-opening-1 {
	position: absolute;
	top: 10px;
	left: 10px;
}

.icon-opening-2 {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.bg-explain h1 {
	margin-bottom: 80px !important;
}
.icon-qr-code {
	position: absolute;
	top: 100px;
	right: 20px;
}

/**
 * Controllers
 */
.fp-tableCell {
	position: relative;
}
#controllers {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#controllers button {
	color: #373737;
	opacity: 0.2;
	border: 1px solid #333;
	border-radius: 4px;
}
#controllers button:hover {
	opacity: 0.9;
}

/* Util
 * --------------------------------------- */
.fc-red {
	color: #ff689a
}
.fc-blue {
	color: #2caaf4
}
.fadeInDown {
	-webkit-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-ms-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-20px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
	100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
