@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

/**
 * Base
 */
body {
    background: url('../img/intro/bg-basic.png') no-repeat;
    background-size: cover;
    color: #373737;
    font-size: 20px;
    font-family: "Mplus 1p";
    font-weight: bold;
    overflow: hidden;
}
h1,h2 {
    text-align: center;
}
.wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.wrap-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.page {
    display: none;
    position: relative;
}
.page.visible {
    display: block;
}

/**
 * Controllers
 */
#controllers {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
#controllers button {
    color: #373737;
    opacity: 0.2;
    border: 1px solid #333;
    border-radius: 4px;
}
#controllers button:hover {
    opacity: 0.9;
}

/**
 * Page
 */
.page p {
    text-align: center;
}
.ready-q-no {
    margin-bottom: -80px;
    font-size: 5em;
}
.ready-q-text {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 529px;
    background: url('../img/quiz/icon-heart-yellow.png') center center no-repeat;
    background-size: 587px 529px;
    font-size: 4em;
    margin-bottom: -40px;
}
.ready-q-text p {
    display: table-cell;
    vertical-align: middle;
}
.page .note {
    font-size: 2em;
    text-align: center; 
}
.qa-q-no {
    font-size: 2em;
    margin-bottom: 20px;
}
.qa-q-text {
    font-size: 2em;
}
.heart {
    position: absolute;
    top: 26px;
    right: 100px;
    z-index: 1;
}
.countdown {
    position: relative;
    margin: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}
.countdown:before,
.countdown:after {
    position:absolute;
    content:"";
	width:65px;
	height:106px;
    background:#ff0011;
    top: -32px;
    z-index: -1;
}
.countdown:before {
    left: -7px;
	transform:rotate(-45deg);
	border-radius:100px 100px 0 0;
}
.countdown:after {
    left: 22px;
	transform:rotate(45deg);
	border-radius:100px 100px 0 0;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    counter-reset: my-counter;
    margin: 15px auto 0;
    width: 80%;
}
.selection li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;
    border-radius: 30px;
    margin: 30px auto 10px auto;
    padding: 10px;
    font-size: 3em;
    text-align: center;
}
.selection li:before {
    position: absolute;
    top: -30px;
    left: -27px;
    content: counter(my-counter);
    counter-increment: my-counter;
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border: 10px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0.8em;
}
.selection li:nth-child(1) { border: 15px solid #00a2fa; }
.selection li:nth-child(2) { border: 15px solid #ff4e90; }
.selection li:nth-child(3) { border: 15px solid #ffa800; }
.selection li:nth-child(4) { border: 15px solid #00b300; }
.selection li:nth-child(1):before { background-color: #00a2fa; }
.selection li:nth-child(2):before { background-color: #ff4e90; }
.selection li:nth-child(3):before { background-color: #ffa800; }
.selection li:nth-child(4):before { background-color: #00b300; }

.selection li img,
.selection li video {
    height: 100%;
    margin: auto;
}

.answers .selection .answer.animated {
    background-color: #ffb;
}

.answers .selection li {
    position: relative;
}
.answers .selection li .count {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 40%;
    background-color: #ccc;
    font-size: 100%;
    text-align: right;
    padding: 6px 8px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.answer_explain {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    margin: 15px auto 0;
    height: 430px;
    position: relative;
}
p.answer_ttl {
    font-size: 3em;
    text-align: left;
    margin-bottom: 10px;
}
.answer_content {
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}



.losers .loser-list,
.winners .winner-list {
    margin: 20px 20px;
}

.losers .loser-list li,
.winners .winner-list li {
    display: block;
    position: relative;
    background-color: #f3f3f3;
    color: #333;
    font-size: 150%;
    padding: 6px 8px;
    margin-bottom: 6px;
}

.losers .loser-list li .time,
.winners .winner-list li .time {
    text-align: right;
    background-color: #ccc;
    font-size: 80%;
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    padding: 2px 4px;
    border-radius: 2px;
}

.overlay_loser {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}